<div class="card flex">
    <a class="p-menuitem-link w-full" (click)="showDialog()">
        <span class="ml-2">{{ item?.label }}</span>
        <span [class]="item?.icon" class="ml-auto"></span>
    </a>
    <p-dialog header="¿Confirma que desea cerrar sesión?" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem','max-width':'90vw' }" position="top">
        <div class="flex justify-content-center gap-2">
            <p-button label="Cerrar" (click)="logout()" />
            <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
        </div>
    </p-dialog>
</div>