.photo-container {
    width: 20vw;
    height: 20vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover-container {
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.cover {
    aspect-ratio: 0.65;
    width: 100%;
    object-fit: cover;
}

.custom-toast .p-toast {
    max-width: 90%;
    width: auto;
    word-wrap: break-word;
}