.loader-container {
    height: 60dvh;
    background: rgba(154, 96, 18, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(154, 96, 18, 0.3);
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #fff inset;
    border-radius: 50%;
    position: relative;
    animation: l11 7s infinite;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: calc(50% - 12.5px);
    box-shadow: inherit;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform-origin: 50% -28px;
    animation: l11 1.5s infinite;
  }
  .loader:after {
    animation-delay: -0.75s;
  }
  @keyframes l11 {
    100% {
      transform: rotate(360deg);
    }
  }