{% extends 'base.html' %}

{% block title %}
	Autores
{% endblock title%}

{% block content %}
    <h1 class="text-center">Autores</h1>
    <div class="row justify-content-center">
        <a href="{% url 'createAuthor' %}"><button class="btn btn-primary">Nuevo autor</button></a>
        <div class="col-12 col-lg-6">
            <table class="table table-primary table-striped">
                <thead>
                    <tr class="table-dark">
                        <th>Autor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'readAuthor' author.pk %}">{{ author.author_name }}</a>
                            </td>
                            <td>
                                <a href="{% url 'updateAuthor' author.pk %}"><button class="btn btn-warning">Editar</button></a>
                                <a href="{% url 'deleteAuthor' author.pk %}"><button class="btn btn-danger">Eliminar</button></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2" class="text-center">Aún no hay autores.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'home' %}"><button class="btn btn-primary">Volver a inicio</button></a>
    <!-- Paginación -->
    {% if object_list %}
        <div class="w-100 text-center text-primary">
            {% if page_obj.has_previous %}
                <a href="{% url 'authors' %}?page=1" class="text-decoration-none">
                    <i class="bi bi-arrow-left-square-fill me-1" alt="Ir a la primera página"></i>
                </a>
                <a href="{% url 'authors' %}?page={{ page_obj.previous_page_number }}" class="text-decoration-none">
                    <i class="bi bi-arrow-left-square me-1" alt="Ir a la página anterior"></i>
                </a>
            {% endif %}
                <span class="text-black">Página {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="{% url 'authors' %}?page={{ page_obj.next_page_number }}" class="text-decoration-none">
                    <i class="bi bi-arrow-right-square ms-1" alt="Ir a la página siguiente"></i>
                </a>
                <a href="{% url 'authors' %}?page={{ page_obj.paginator.num_pages }}" class="text-decoration-none">
                    <i class="bi bi-arrow-right-square-fill me-1" alt="Ir a la última página"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}